* { 
    font-family: 'Noto Sans Sinhala', sans-serif; 
    margin: 0px;
    padding: 0px;
}

/* slider image border*/
.border-radius{
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

/* price list */
.price-list {
    color:aliceblue;
    text-align: center;
    background-color: #333333;
    padding: 8px;
    border-radius: 20px;
    margin: 5px 10px 0px 10px;
}

/* price date */
.price-date {
    color:aliceblue;
    text-align: center;
    background-color: #059109;
    border-radius: 20px;
    margin: 5px 80px 0px 80px;
    font-size: medium;
}

/* table css */
.table-div {
    margin:10px 20px 10px 20px
}

  .table {
    border-collapse: collapse;
    width: 100%;
  }
  
  .table td, .table th {
    font-size: 14px;
    border: 1px solid #ddd;
    padding: 5px;
  }
  
  .table tr:nth-child(even){background-color: #f2f2f2;}
  
  .table tr:hover {background-color: #ddd;}
  
  .table th {
    padding: 12px 0px 12px 0px;
    text-align: center;
    background-color: #a51515;
    color: white;
  }

  .declaration {
    color:aliceblue;
    background-color: #e20a0a;
    margin:5px 20px 5px 20px;
    font-size: 10px;
    text-align: center;
    padding: 10px;
    border-radius: 15px;
  }