* { 
    font-family: 'Noto Sans Sinhala', sans-serif; 
    margin: 0px;
    padding: 0px;
}

/* title */
.dec-name {
    font-size: small;
}

.dec-logo {
    margin-top: 10px;
    height: 125px;
}

.dds {
    font-size: 10px;
}

.ion-button {
    margin: 20px 60px 20px 60px;
}
    
