<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title class="dec-name ion-text-center">
      විශේෂිත ආර්ථික මධ්‍යස්ථානය <br />
      Dedicated Economic Center
    </ion-title>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">

<ion-row class="ion-text-center">
  <ion-col>
    <img src="assets/images/logo/new-logo-dec.png" alt="Dedicated Economic Center" class="dec-logo">
    <br />
    <h5>WeVibra Technologies</h5>
    <p class="dds">DIGITAL DESIGN STUDIO</p>
  </ion-col>
</ion-row>

<ion-row class="ion-button">
  <ion-col>
<ion-button expand="block" fill="outline" size="small" color="dark" href="google.com">Rate This App</ion-button>
</ion-col>
</ion-row>

<ion-row class="ion-button">
<ion-col>
  <ion-button expand="block" fill="outline" size="small" color="dark" href="google.com">Facebook Page</ion-button>
  </ion-col>
</ion-row>

<ion-row class="ion-button">
<ion-col>
  <ion-button expand="block" fill="outline" size="small" color="dark" href="google.com">Instagram</ion-button>
  </ion-col>
</ion-row>

<ion-row class="ion-button">
  <ion-col>
    <ion-button expand="block" fill="outline" size="small" color="dark" href="google.com">Terms & Conditions</ion-button>
    </ion-col>
  </ion-row>

  <ion-row class="ion-button">
    <ion-col>
      <ion-button expand="block" fill="outline" size="small" color="dark" href="google.com">Privacy Policy</ion-button>
      </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <img src="assets/images/colombo-sri-lanka.jpg" alt="Dedicated Economic Center" class="border-radius">
    </ion-col>
  </ion-row>
  
</ion-content>

