<ion-header [translucent]="true">

  <ion-toolbar color="dark">
    <ion-title class="dec-name ion-text-center">
      පසුගිය මිල දර්ශක <br />
      Prev. Pricelist
    </ion-title>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">

  <!-- Start price list -->
  <ion-row>
    <ion-col>
      <img src="assets\images\dec-dambulla\dedicated-economoc-center-dambulla.jpg" alt="Dedicated Economic Center" class="border-radius">
    </ion-col>
  </ion-row>
  <!-- End -->

  <!-- Start price list -->
  <ion-row>
    <ion-col>
      <p class="price-list">පසුගිය එළවළු මිළ දර්ශක</p>
    </ion-col>
  </ion-row>
  <!-- End -->

  <!-- Start list sevendays -->
  <ion-row>
    <ion-col>
      <p class="price-sevenday">පසුගිය දින 7ක් ඇතුලත දත්ත පමණි</p>
    </ion-col>
  </ion-row>
  <!-- End -->

  <!-- all list -->
  <ion-row>
    <ion-col>
      <ion-button [routerLink]="'/tab5'" expand="block" color="dark" type="button">සඳුදා - Monday</ion-button>
      <ion-button [routerLink]="'/tab6'" expand="block" color="dark" type="button">අඟහරුවාදා - Tuesday</ion-button>
      <ion-button [routerLink]="'/tab7'" expand="block" color="dark" type="button">බදාදා - Wednesday</ion-button>
      <ion-button [routerLink]="'/tab8'" expand="block" color="dark" type="button">බ්‍රහස්පතින්දා - Thursday</ion-button>
      <ion-button [routerLink]="'/tab9'" expand="block" color="dark" type="button">සිකුරාදා - Friday</ion-button>
      <ion-button [routerLink]="'/tab10'" expand="block" color="dark" type="button">සෙනසුරාදා - Saturday</ion-button>
      <ion-button [routerLink]="'/tab11'" expand="block" color="dark" type="button">ඉරිදා - Sunday</ion-button>
   </ion-col>
  </ion-row>
<!-- End -->

<ion-row>
  <ion-col>
    <p class="price-dec">සැලකිය යුතුයි! මෙහි සඳහන් වනුයේ අද දින සිට ආපසු පසට දින 7ක් දක්වා දත්තයන් පමණි. මිළ දර්ශකයක පැරණි මිළ ගණන් වැදගත් නොවන හෙයින් සියළුම දත්තයන් ලබාගත නොහැක.</p>
  </ion-col>
</ion-row>

  </ion-content>



